<h1>Polls:</h1>

<ul>
<hr size=12 color="black"/>
{% for poll in polls %}
	<li>
	Question: {{poll.question}}<br/>
	Published: {{poll.polldetails.published}}<br/>
		<ul>
			<hr size=3 color="green"/>
			{% for choice in poll.choice_set.all %}
				<li>response: {{choice.choice}}, votes={{choice.votes}}
					<form method="post" action="{% url 'vote' %}">{% csrf_token %}
						<input type="hidden" name="choiceid" value="{{choice.id}}">
						<input type="submit" value="vote!" />
					</form>
				</li>
				<hr size=3 color="green"/>
			{% endfor %}
			<form method="post" action="{% url 'createchoice' %}">{% csrf_token %}
				<input type="hidden" name="pollid" value="{{poll.id}}">
				<input type="text" name="choice" placeholder="type Your choice">
				<input type="submit" value="create choice!" />
			</form>
		</ul>
	</li>
	<hr size=12 color="black"/>
{% endfor %}
</ul>
<form method="post" action="{% url 'createpoll' %}">{% csrf_token %}
	<input type="text" name="question" placeholder="type poll question">
	<input type="submit" value="create poll!" />
</form>